<f:flashMessages />

<f:render section="intro" arguments="{_all}" />


<div class="tab-content">
  <div role="tabpanel" class="tab-pane active">
    <f:render section="content" arguments="{_all}" />
  </div>
</div>


