{namespace blog=Vendor\SmartargetTiktokFollow\ViewHelpers}

<f:layout name="BackendWeb" />

<f:section name="intro">
</f:section>
<f:section name="content">
 <span id="sm-loading" style="position: absolute; z-index: 100">Loading, please wait...</span>
 <iframe id="frame" frameborder="0" style="width: 100%;" onload="document.getElementById('sm-loading').style.display = 'none'; document.querySelector('.module-body').style.paddingLeft = 0; document.querySelector('.module-body').style.paddingRight = 0"
         src="https://integration.smartarget.online/connect/typo3/tiktok_follow/{hash}?url={domain}"></iframe>
 <script>
  document.getElementById('frame').style.height = (document.documentElement.clientHeight ) + 'px';
 </script>
</f:section>
