<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

    <div class="container">
        <div class="alert alert-info">
            <dl>
                <dt>Template file</dt>
                <dd>

                </dd>
                <dt>Backend Configuration</dt>
                <dd>

                </dd>
            </dl>
        </div>
    </div>
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}" />

</f:section>
</html>
